RewriteEngine On

# Check if the requested file or folder exists under './public' and rewrite it to the root
RewriteCond %{REQUEST_URI} ^/public/(.*)$
RewriteRule ^public/(.*)$ /$1 [L]

# Check if the requested file or folder exists and redirect to index.php if it doesn't
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ./index.php [L]
